
@{
    ViewBag.Title = "Index";
}

<h2>SISTEMA DE GERENCIAMENTO DE TELEGRAMAS</h2>
<br />


<center>
    <iframe width="1024" height="630" src="https://app.powerbi.com/view?r=eyJrIjoiZjgzZTBiYmEtYWVkOS00MDdjLTkxMTctYTI4NjE3M2YzYzEzIiwidCI6ImU4MDQ3OWI0LTI2ZWQtNGQ2OS1hZWZhLTgwMTk0MDliMDQ1MiJ9" frameborder="0" allowFullScreen="true"></iframe>
</center>