<!DOCTYPE html>
<html lang="pt-br">
<head>


</head>
<body>
    <div class="card loginmoldura">
        <div class="card-body">
                <div class="col-md-3 text-left">
                    <label>USUARIO</label>
                    <input type="text" name="nomeUsuario" id="login" placeholder="Usuário" class="form-control" />
                </div>
                <br />
                <div class="col-md-3 text-left">
                    <label>SENHA</label>
                    <input type="password" name="passwd" id="senha" placeholder="Senha" class="form-control" />
                </div>
                <br />
                <div class="col-md">
                    <button type="submit" id="logar" class="btn btn-info btn-lg"> LOGIN </button>
                </div>
        </div>
    </div>
</body>
</html>